{% extends 'base.html' %}

{% block title %}Job Details{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white rounded shadow p-8 space-y-6">
    <h2 class="text-4xl font-semibold mt-2 mb-4">{{ job.title }}</h2>
    <p class="text-xl text-gray-600 mt-4"><span class="font-medium">Location: </span>{{ job.location }}</p>
    <p class="text-xl text-gray-600 mt-4"><span class="font-medium">Category: </span>{{ job.category }}</p>
    <p class="text-xl text-gray-600 mt-4 mb-4">{{ job.description }}</p>

    {% if user.is_authenticated and user.role == 'job_seeker' %}
     <div class="flex justify-center">
        <a href="#" class="bg-indigo-600 text-xl text-white px-6 py-2 mt-6 mb-6 rounded hover:bg-indigo-700 transition">
        Apply Now
        </a>
    {% else %}
        <p class="text-xl text-gray-600 px-6 py-2">Employers can't apply for a job. </p>
    {% endif%}
</div>
{% endblock %}